* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 2000px) {
    body {
        background-color: black;
        height: 100vh;
        min-width: 100%;
    }
    
    main {
        display: flex;
        justify-content: center;
        min-width: fit-content;
    }
    
    .header-container {
        display: flex;
        gap: 20%;
        align-items: center;
        padding: 4em;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .logo {
        text-decoration: none;
        color: white;
        font-family: "Actor", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.25px;
    }

    .logo:hover,
    .navbar li:hover {
        color: blue;
    }

    .menu {
        display: none;
    }
    
    .navbar {
        text-decoration: none;
        font-family: "Source Sans 3", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 22.4px;
        letter-spacing: 0px;
    }
    
    .navbar ul {
        list-style: none;
        display: flex;
        gap: 2em;
        color: white;
    }
    
    .main-left {
        width: 50%;
    }
    
    .main-left__container {
        margin-left: 20%;
        margin-top: 28%;
    }
    
    .main-left__title {
        color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 84px;
        line-height: 102px;
        letter-spacing: -2px;
    }
    
    .main-left__text {
        color: white;
        font-family: "Source Sans 3", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 22px;
        line-height: 34px;
        letter-spacing: 0px;
        max-width: 70%;
    }
    
    .arrow {
        font-size: 22px;
        margin-top: 20em;
        color: white;
    }
    
    .main-right {
        max-width: 50%;
        z-index: -1;
        
    }
}

@media screen and (max-width: 1100px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        font-family: "Baloo 2", sans-serif;
        
        font-weight: 700;
        font-style: bold;
    }

    .main-left {
        width: 100%;
    }
    
    .main-left__container {
        justify-items: center;
        margin-left: 0px;
        margin-top: 20%;
    }

    .main-left__title {
        margin-bottom: 0.5em;
    }
    
    .main-left__text {
        margin-top: 0px;
        max-width: 70%;
        text-align: center;
    }

    .arrow {
        display: none;
    }
    
    .main-right {
        max-width: 100%;
        margin-top: 5em;
        align-self: center;
    } 
}

@media screen and (max-width: 650px) {
    .navbar ul {
        display: none;
    }

    .menu {
        display: contents;
       width: 100px;
    }
}